{% extends "ledger/base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block page_heading %}{{ recipe.name }}{% endblock %}

{% block content %}
<div>
    <p><strong>Author:</strong> {{ recipe.author.name|default:"Unknown" }}</p>
    <p><strong>Created:</strong> {{ recipe.created_on|date:"F d, Y g:i A" }}</p>
    <p><strong>Last Updated:</strong> {{ recipe.updated_on|date:"F d, Y g:i A" }}</p>
    
    <h3>Ingredients</h3>
    <ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
    {% endfor %}
    </ul>
    
    {% if recipe.images.all %}
        <h3>Images</h3>
        {% for img in recipe.images.all %}
            <div>
                <img src="{{ img.image.url }}" alt="{{ img.description }}">
                <p>{{ img.description }}</p>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if user.is_authenticated %}
        <a href="{% url 'ledger:recipe-add-image' recipe.pk %}">+ Upload Image</a>
    {% endif %}
    
    <h3>About the Author</h3>
    <p>{{ recipe.author.short_bio }}</p>
    
    <br>
    <p><a href="{% url 'ledger:recipe-list' %}">Back to Recipes</a></p>
</div>
{% endblock %}